/*----Base----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f7f8;
  margin: 0;
}

/*----NavBar----*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.logo img {
  width: 32px;
}

/*----Search Box----*/
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  padding: 8px 14px;
  background: #4A00FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background: #4A00FF;
}

