*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
}

body{
background:#f3f4f6;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
width:420px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 5px 20px rgba(22, 22, 22, 0.108);
text-align:center;
}

.logo{
margin-bottom:10px;
}

h2{
margin-bottom:5px;
}

.subtitle{
color:gray;
margin-bottom:25px;
}

form{
text-align:left;
}

label{
font-size:14px;
font-weight:600;
}

input{
width:100%;
padding:12px;
margin-top:6px;
margin-bottom:5px;
border:1px solid #ddd;
border-radius:6px;
}

.password-box{
display:flex;
gap:10px;
}

.password-box button{
padding:10px;
border:none;
background:#ddd;
border-radius:6px;
cursor:pointer;
}

.hint{
color:#4A00FF;
font-size:12px;
margin-bottom:15px;
}

.login-btn{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#4A00FF;
color:white;
font-size:16px;
cursor:pointer;
margin-top:10px;
}

.login-btn:hover{
opacity:.9;
}

#errorMessage{
color:red;
margin-top:10px;
}

.divider{
margin:25px 0;
position:relative;
color:gray;
text-align:center;
}

.divider::before,
.divider::after{
content:"";
position:absolute;
width:40%;
height:1px;
background:#ddd;
top:50%;
}

.divider::before{
left:0;
}

.divider::after{
right:0;
}

.demo-box{
background:#f3f4f6;
padding:15px;
border-radius:8px;
font-size:14px;
}